/* LOADING */
#cp-loading {
    background: linear-gradient(to top, #bbbd 0%, #eeee 60%);
    color: #555;
}
.cp-loading-progress-container {
    height: 1em;
}
.cp-loading-progress-container, .cp-loading-progress-bar, .cp-loading-progress-bar-value {
    border-radius: 2em;
}
.cp-loading-progress-container {
    background: none;
}
.cp-loading-progress-bar {
    background: #3331;
    border: 1px solid #0004;
    box-shadow: 0 3px 5px #0003 inset;
}
.cp-loading-progress-bar-value {
    border-top: 1px solid #eee6;
    border-bottom: 1px solid #eee6;
    background: linear-gradient(to right, #5bbd9dfd, #be71c8fd, #e39a42fd, #99a825fd);
    box-shadow: 5px 0 5px -1px #0003;
}
/* lista cose con percentuali */
.cp-loading-progress-list {
    padding-bottom: 2em;
}
.cp-spinner {
    filter: invert(1) opacity(.25);
}
/* ======================= */

@keyframes top-reveal {
    0% {transform: translateY(-100%);}
    100% {transform: translateY(0);}
}

@keyframes left-reveal {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}

@keyframes fade-in {
    0% {filter: opacity(0);}
    100% {filter: opacity(1);}
}

.cp-toolbar-container *:not(.fa), #cp-app-pad-editor *:not(.fa) {
    font-family: 'Helvetica Neue', sans-serif !important;
}

/* toolbar */
body.cp-app-pad .cke_toolbox_main {
    z-index: 1;
    /* animation: top-reveal .4s; */
    animation: fade-in .5s;
    background: none !important;
}

/* title toolbar */
.cp-toolbar {
    background: #737373;
    padding-top: .25em;
    color: #fff;
    text-shadow: 1px 2px 3px #0004 !important;
}

/* COLORI PER APP */
.cp-app-pad .cp-toolbar {background: #3d69ae;}
.cp-app-whiteboard .cp-toolbar {background: #975797;}
.cp-app-kanban .cp-toolbar {background: #57753a;}
.cp-app-slide .cp-toolbar {background: #b36c2e;}
.cp-app-poll .cp-toolbar {background: #339f9a;}
.cp-app-code .cp-toolbar {background: #bb8e07;}
.cp-app-sheet .cp-toolbar {background: #40865c;}

/* titolo documento */ 
.cp-toolbar-top .cp-toolbar-title, .cp-toolbar-spinner {
    color: #fff;
}

.cp-toolbar-top .cp-toolbar-title .cp-toolbar-title-value,
.cp-toolbar-top .cp-toolbar-title input {
    font-size: 1.3em !important;
    border: 0 !important;
    border-bottom: 1px solid #555;
}
.cp-toolbar-top .cp-toolbar-title input {
    background: #fff2;
}
/* hover titolo per modifica */
.cp-toolbar-top .cp-toolbar-title .cp-toolbar-title-hoverable:hover .cp-toolbar-title-editable, .cp-toolbar-top .cp-toolbar-title .cp-toolbar-title-hoverable:hover .cp-toolbar-title-edit {
    border-color: transparent !important;
}
body.cp-app-pad input:not(.form-control) {
    height: auto !important;
}
/* sottotitolo "saved" */
.cp-toolbar-spinner {
    font-size: .8rem;
}

.cp-toolbar-top,
.cp-toolbar-top .cp-toolbar-user .cp-toolbar-user-dropdown,
.cp-toolbar-top .cp-toolbar-user .cp-toolbar-user-dropdown > button,
.cp-toolbar-top .cp-toolbar-notifications > button,
.cp-toolbar-top .cp-toolbar-link, .cp-toolbar-top .cp-toolbar-notifications {
    height: 3em !important;
}

/* toolbar bottom */
.cp-toolbar-bottom {
    /* box-shadow: 0 1em 1em #0002 !important; */
    background: #d3d3d3;
    background: none;
    color: #fff;
    
}

.cp-toolbar-bottom, .cke_toolbox_main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.cp-markdown-toolbar {
    background: #fff;
}

/* toolbar in alto */
.cp-toolbar-bottom button {
    text-shadow: 1px 2px 3px #0003 !important;
    border: none !important;
}
/* bottone attivo selezionato etc */
.cp-toolbar-bottom button:hover, .cp-toolbar-bottom button.cp-toolbar-button-active {
    background: #fff;
    color: #444;
    box-shadow: 0 -2px 2px #3332;
}

/* menu file */
.cp-toolbar-bottom .cp-toolbar-bottom-left .cp-toolbar-drawer-content {
    animation: fade-in .5s;
    z-index: 0;
    box-shadow: 0px 5px 10px 0px #0003;
}

/* voci menu "file" */
.cp-toolbar-bottom .cp-toolbar-bottom-left .cp-toolbar-drawer-content button:hover {
    background-color: #ddd !important;
}

/* bottoni e select toolbar */
.cke_button, .cke_combo_button {
    border-radius: 3px !important;
    transition: all .45s !important;
    border: 1px solid transparent !important;
    opacity: .75;
}
.cke_button {
    padding: 4px 6px !important;
}
.cke_combo_button:active,  .cke_combo_button:focus,  .cke_combo_button:hover,
.cke_button:active, .cke_button:focus, .cke_button:hover {
    border: 1px solid #bbb !important;
}
.cke_combo_button, .cke_combo_button:active,  .cke_combo_button:focus,  .cke_combo_button:hover {
    padding: 0 !important;
    margin: 0 !important;
    border: 1px solid transparent !important;
}

/* bottoni/menu */
.cp-toolbar-bottom .cp-toolbar-bottom-left .cp-toolbar-drawer-content {
    background: #fffe !important;
}

.cp-toolbar-rightside-button.fa {
    opacity: .75 !important;
}

.cp-toolbar button *:not(.fa) {
    font: .9rem 'Helvetica Neue', sans-serif !important;
    font-weight: 500 !important;
    /* text-transform: uppercase; */
}

/* drawers laterali */
body.cp-app-pad .cke_toolbox_main,
.cp-toolbar-userlist-drawer,
.cp-toolbar-chat-drawer {
    box-shadow: 0 0 1em #0003 !important;
}

/* frame documento */
body.cp-app-pad .cke_wysiwyg_frame {
    box-shadow: 0 .5em 1em -.2em #2225;
    margin: 20px 30px !important;
    border-radius: .25rem;
}

/* notifiche */
.cp-corner-container {
    right: 1em;
    bottom: 1em;
    padding: .75em 1em;
    border: 1px solid #0003;
    animation: appear 0.5s ease-in-out;
    box-shadow: 0 4px 1em #0008;
    font-size: .95rem;
    width: 300px;
    border-radius: .6em;
    text-align: center;
}
.cp-corner-container.cp-corner-alt {
    background-color: #fffd;
    color: #326599;
    border: 1px solid #0003;
    box-shadow: 0 4px 1em #0004;
}

/* bottoni centrati */
.cp-corner-container .cp-corner-actions {
    text-align: center;
}
.cp-corner-container button {
    border: 1px solid #fff4;
}

button, .btn {
    border-radius: .6em !important;
    padding: .2em .5em !important;
    transition: background .4s !important;
    font-size: .9rem !important;
    font-weight: 700 !important;
}

.cp-toolbar-bottom .btn,
.cp-toolbar-bottom button {
    border-radius: 0 !important;
}

/* nav destro utenti */
.cp-toolbar-userlist-drawer {
    background: #fff;
}

/* chat */
#cp-app-contacts-messaging .cp-app-contacts-header {
    background: #fff;
}
#cp-app-contacts-messaging .cp-app-contacts-chat .cp-app-contacts-messages {
    padding: 0;
}
#cp-app-contacts-messaging .cp-app-contacts-input {
    padding: 0;
}
#cp-app-contacts-messaging .cp-app-contacts-chat .cp-app-contacts-messages {
    background: #eee;
    margin: 0 !important;
}
#cp-app-contacts-messaging .cp-app-contacts-chat .cp-app-contacts-messages .cp-app-contacts-message {
    word-wrap: anywhere;
}
#cp-app-contacts-messaging .cp-app-contacts-input textarea {
    margin: 0;
}
#cp-app-contacts-messaging .cp-app-contacts-input button {
    border-radius: 0 !important;
    color: #555;
    background: #ccc;
}

/* alert share/access */
/* bg */
.alertify {
    background: #999d;
    color: #444;
}
.alertify .dialog > div {
    border-radius: .7em;
    box-shadow: 0 1em 2em 0 #0005;
    overflow: hidden;
}
.alertify .dialog .alertify-tabs {
    padding: 0 !important;
}
.alertify .dialog .alertify-tabs .alertify-tabs-titles .alertify-tabs-title {
    border: none !important
}

/* DRIVE */
/* info */
.cp-body-drive #cp-app-drive-content .cp-app-drive-content-info-box {
    border-radius: .4em;
    box-shadow: 0 3px 1em -10px #0003;
}

.cp-app-drive-content-grid .cp-app-drive-element, .cp-app-drive-content-grid .cp-app-drive-new-ghost {
    border-radius: .7em;
    border-width: 3px !important;
    cursor: pointer !important;
}
.cp-app-drive-element, .cp-app-drive-new-ghost {
    transition: all .4s;
}
.cp-body-drive #cp-app-drive-content div.cp-app-drive-content-grid ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cp-body-drive #cp-app-drive-tree {
    background: #fff;
    border-right: 2px dashed #ddd;
}
/* active item */
.cp-body-drive #cp-app-drive-tree .cp-app-drive-tree-category li .cp-app-drive-element-row.cp-leftside-active {
    border-bottom: 2px solid #ddd;
}

/* KANBAN */
/* sfondo app */
.cp-app-kanban {
    background: #e3e3e3;
}

.cp-app-kanban {
    animation: fade-in .5s;
}
.cp-app-kanban .kanban-board header {
    /* background-color: #f4f4f4; */
    text-align: center;
    margin-right: 0 !important;
}
.cp-app-kanban #cp-app-kanban-content .kanban-container-outer .kanban-container {
    box-shadow: 0 .5em 1em .5em #0001 inset;
    padding-top: 1em;
}
#kanban-addboard,
.cp-app-kanban .kanban-board .kanban-board-inner {
    border: 1px solid #0002 !important;
    border-radius: .5em;
    overflow: hidden;
    box-shadow: 0 .1em .5em #0002;
}
.kanban-board {
    width: min-content !important;
    min-width: 200px !important;
}
.cp-app-kanban #cp-app-kanban-content #kanban-addboard {
    margin: 1em;
    width: 2.4em;
    height: 2.4em;
    transition: all .4s;
    border-radius: 4em;
    position: fixed;
    bottom: 0;
    z-index: 100 !important;
    cursor: pointer;
}
#kanban-addboard i {
    color: #797979 !important;
}
.kanban-item {
    background: none !important;
    margin-bottom: 0;
    animation: fade-in .5s;
}
#kanban-edit {
    border-radius: 1em;
    animation: fade-in .5s;
    border: 1px solid #0002 !important;
}

.kanban-board-footer span.kanban-title-button {
    border-radius: .25em !important;
    border: 1px solid #0002 !important;
    transition: background .5s;
    cursor: pointer !important;
}

/* WHITEBOARD */
.cp-app-whiteboard #cp-app-whiteboard-controls {
    background: #e3e3e3;
    border: none !important;
    box-shadow: 0 .5em 1em -4px #0003 inset;
}
.cp-app-whiteboard-canvas-container > canvas {
    border: none !important;
}
#cp-app-whiteboard-colors {
    background: none !important;
    margin-left: 0 !important;
}
#cp-app-whiteboard-colors > span {
    border: 1px solid #0002;
    box-shadow: 0 4px 5px #0003;
    cursor: pointer;
}
.cp-app-whiteboard .btn.fa {
    color: #555;
    border: 1px solid #0004;
    background: none;
    margin: auto 4px;
    border-radius: 4em;
    font-size: 1.3em !important;
}

/* SLIDES */
.cp-app-slide div#cp-app-slide-modal {
    background: #fff;
}
.cp-app-slide div#cp-app-slide-modal #cp-app-slide-modal-content .cp-app-slide-frame {
    border: none !important;
    box-shadow: 0 10px 1em #0003;
    margin: auto .5em;
}